body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: rgb(60, 55, 55);
}
header{
    background-color: #e1f0f7;
    padding-bottom: 100px;
}

/* heder-nav */
.header-bar{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    padding: 5px 0;
    position: sticky;
    top: 0;
    z-index: 1;
}
.header-bar .sign-in{
    width: 10%;

}
.header-bar .sign-in i{
    margin: 5px;
    padding: 5px;
    
}
.header-bar .nav-list {
    width: 85%;
}
.header-bar .nav-list .menu-list{
    width: 100%;
    max-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.header-bar .nav-list .nav-item {
    margin: 2px;
    padding: 5px;
    width: 100px;
    font-size: .8em;
}
.header-bar img{
    width: 3%;
    height: 3%;
}
/* header title & description */
header .intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
}
header .intro .left{
    width: 40%;
}
header .intro .left h2{
    margin:50px;
    margin-left: 15%;
    font-size: 3em;
    color: rgb(21, 14, 14);
}
header .intro .left .desc{
    width:300px;
    margin: auto;
    text-align:justify ;
}
header .right{
    width: 60%;
    padding: 20px 0  20px 20px;
}
header .intro .right img{
    width: 80%;
}


/* main */
main{
    text-align: center;
    background-color: #e1f0f7;
}
/* info aboute product */
main .option{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #e1f0f7;
}
main .option .option-item{
    display: flex;
    flex-direction: column;
}
main .option .option-item span{
    font-weight: bold;
    font-size: .8em;
    margin: 2px;
}
main .option .option-item .span-value{
    font-size: 1.8em;
}

/* start trade */
.start{
    background-color: #b8dae8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    box-shadow: 0 -2px 10px 0 rgb(114, 194, 248);
}
.start .left{
    width: 40%;
    padding-top: 20px;
}
.start .left img{
    width: 100%;
}
.start .right{
    width: 40%;
}
.start .right .h2{
    margin-left: 0;
}
.start .right p{
    font-size: .9em;
    color: rgb(60, 55, 55);
    margin: 15px 0;
}
#btn1{
    font-weight: bold;
    background-color: #f2f2f2;
    border: 1px solid rgb(10, 20, 210);;
    border-radius: 5px;
    color:inherit;
    cursor: pointer;
    padding: 10px;
    width: 120px;
}
#btn1:hover{
    background-color: rgb(10, 20, 210);
    border-radius: 5px;
    color: white;
    padding: 10px;
    cursor: pointer;
}


/* products */

/* product title */
main .p-t{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
main .p-t h2{
    font-size: 2em;
    margin: 5px;
    width: 40%;
}
main .p-t p{
  width: 40%;
  border-left: 2px solid rgb(10, 20, 210);
  padding-left: 15px;
}
.p-t p a{
    text-decoration: underline;
    color: rgb(96, 96, 96);
}

/* products */
main .product{
    margin: 30px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
main .product .product-item{
    width: 300px;
    height: 250px;
    padding: 15px;
    margin: 15px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #f2f2f2;
    position: relative;
}
main .product .product-item:hover{
    box-shadow: 0 0 20px 2px rgb(175, 175, 175);
    background-color: #ffffff;
}
main .product .product-item .content{
    height: 70%;
}
main .product .product-item h3{
    margin: 10px 5px;
    border-top: 2px solid rgb(10, 20, 210);
    padding-top: 5px;
    width: 50%;
}
main .product .product-item button{
    font-weight: bold;
    background-color: #f2f2f2;
    border: 1px solid rgb(10, 20, 210);;
    border-radius: 5px;
    color:inherit;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 25px;
}
main .product .product-item button:hover{
    background-color: rgb(10, 20, 210);
    border-radius: 5px;
    color: white;
    padding: 10px;
    cursor: pointer;
}
main .product .product-item p{
    text-align: justify;
    line-height: 20px;
    margin-top: 5px;
}
main .product .product-item .card-img{
    height: 30%;
}main .product .product-item .card-img img{
    width: 100%;
    height: 100%;
}

/*  section */
section{
    height: 400px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
}
section h2{
    font-size: 2.2em;
    margin: 40px;
}
section p{
    width: 500px;
    line-height: 25px;
    font-size: 1.1em;
    color: #000;
    margin-bottom: 20px;
}
section p a{
    color: #3e3e3e;
    margin: 2px;
    text-decoration: underline;
}
section button{
    width: 200px;
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(10, 20, 210, .7);
}
section button:hover{
    background-color: rgb(10, 20, 210);

}

/* help */
.help{
    height: 50px;
}
.help p{
    font-size: 1.5em;
}
.help p a{
    text-decoration: underline;
}

/* footer */
footer{
    height: 200px;
    background-color: #f2f2f2;
    border-top: 1px solid black;
    padding: 20px;
}
footer .links{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:  0 20px;

}
footer .links .left{
    width: 30%;
}
footer .links .left h1{
    font-size: 1em;
}
footer span{
    color: rgb(10, 20, 210);
}
footer .links .left p{
    margin: 10px 0;
}
footer .right{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer .right .X-PRO{
    display: flex;
    flex-direction: column;

}
footer .right .support{
    display: flex;
    flex-direction: column;
}
footer h3{
    margin: 10px 0;
    font-size: 1.2em;
}
footer a{
    margin-bottom: 5px;
    text-decoration: underline;
}
footer .icons{
    margin-top: 10px;
}
.icons i{
    margin: 8px;
    font-size: 1.5em;
}